body {
        margin-top: 80px;
        margin-left: 15px;
        font-family: Arial, sans-serif;
       font-size: 15px;
      line-height: 1.6;
    }
    ul {margin: 0;
        padding: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        display:flex ;
        width: 100%;
      
       background-color: rgb(11, 70, 70);
     }
    ul li {
        list-style-type: none;
        padding: 16px;
        
        }

     ul li a {
        text-decoration: none;
        display: block;
        color: white;
        font-size: larger;
      }
      
     ul li:hover{
        background-color: rgb(0, 26, 255);  
     }
        .dropbtn {
            border: none;
            margin-top:2px ;
            color: white;
            cursor: pointer;
            
        }
         
        .dropdown-content {
            position: absolute;
            display: none;
            margin-left: 2px;
            background-color: beige;
            min-width:110px ;
        }
        .dropdown-content a{
            text-decoration: none;
            display: block;
            padding: 10px;
            color: black;
        }
         
        .dropdown:hover .dropdown-content {
            display: block;
        }
       .dropdown-content a:hover{
        background-color: black;
        color: white;
       }

      h1{
        color:#000000;
        display: inline;
      }
      h3{
        text-transform: uppercase;
        color: blue;
        font-size: 16px;
      }

      .drpdown{
       
          display: inline-block;
        }
          
        .drpbtn{
        border: none;
        color: white;
        padding: 16px;
        background-color: rgb(22, 14, 14);
        font-size: 15px;
       }
       .content {
        color: rgb(2, 5, 190);
        display: none;
        
       }
       .drpdown:hover .content{
        display: block;
        
    }
    .content:hover{
        background-color: azure;
        cursor: pointer;
       
    }
        ::selection{
            background-color:red;
            color: white;
          
        }
       table, tbody, th, td{
        width: 100%;
        border: 1px solid;
       }
     img {
        object-fit: cover;
        zoom:70%;
        cursor: pointer;
        background-color: red;
        border: 20px solid rgb(201, 26, 128);
     }

      img:hover{
        zoom: 50%;
      }

      .h2{
        color: rgb(241, 56, 23);
        margin-left: 10px;
      }
     label{
      display: block;
      margin-top: 10px;
     }
      form {
        position: relative;
        background-color: rgb(187, 193, 199);
        border-radius: 10px;
        width: 350px;
        resize: both;
        overflow: auto;
        margin-bottom: 50px;
        padding:0 16px  ;
        display: block;
      }

      input[type=text] {
        margin-top: 2px;
        width: 200px;
        color: blue;
        padding: 5px;
        outline-color: blueviolet;
        border-radius: 5px;
        border: 1px solid rgb(27, 22, 95);
      }
      
      input[type=search]{
        padding: 10px;
        border-radius:10px;
        width: 200px;
        border: 1px solid rgb(24, 10, 10);
        background-color: rgb(19, 3, 3);
        outline-color: black;
        outline-offset:rgb(19, 2, 2);
        outline-width: 2px;
        font-size: medium;
        color: white;
     
      }

      input[type=search]:focus{
          outline: 4px solid rgb(122, 100, 100);
          border: none;
      }
      input[type=button] {
        width: 100px;
        margin-left:10px ;
        background-color: blueviolet;
        color: whitesmoke;
        border: none;
        border-color: black;
        padding: 10px 0 10px 0;
        border-radius: 5px;
        margin-bottom: 60px;
        position: absolute;
        right: 0;
        top: 150px;
      }
     

      .math{
        padding: calc(20px + 20px);
        width: max(100px, 300px, 400px);
        border: 1px solid ;
      }