       * {
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    position: sticky;
    top: 0;
    background-color: rgb(245, 247, 248);
    height: 60px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
 
}
.section-1{
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.logo .icon-1{
   color: blue;
   margin-top: 15px;
}

.down-list{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
}

.down-list .icon-1{
    width: 18px;
    margin-top: 2px;
}

.down-list:hover{
    background-color: rgb(230, 225, 225);
    border-radius: 100%;
}

.recorder .icon-1{
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-left: -10px;
    color: red;
}

.item-list{
    display: flex;
    gap: 12px;
    list-style-type: none;
    cursor: pointer;
}

.icons{
    width: 35px;
    height: 35px;
    text-align: center;
    margin-left: -1px;
}

.section-2{
    gap: 100px;
}
.icon-2{
    width: 15px;
    margin-top: 5px;
    color: rgb(26, 24, 24);
}
.icons:hover{
    background-color:rgb(230, 225, 225) ;
    border-radius: 100%;
}

.item p{
    font-size: 11px;
    font-family: monospace;
    letter-spacing: 0.5px;
    color: black;
}

.section-3{
    display: flex; 
    margin-top: 10px;
    gap: 12px;
}

.profile img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
   object-fit: cover;
   margin-right: -20px;
}

.prof-icon .icon-3{
    margin-top: 16px;
    background-color:red;
    color: red;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid white;
}

.notification{
    width: 30px;
    height: 30px;
    text-align: center;
}

.notification .icon-3{
    width: 19px;
    margin-top: 2px;
}

.notification:hover{
    background-color: rgb(230, 225, 225);
    border-radius: 100%;
}

.time{
    text-align: center;
    
}

.time p{
   font-family: monospace;
   font-size: large;
   color: rgb(110, 105, 105);
}


.section-4{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    gap: 60px;
}


.join{
    text-align: center;
}

span .icon-4{
    margin-top: 22px;
    width: 30px;
}
.join span{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid rgb(216, 212, 212);
    text-align: center;
}

.join span:hover{
    background-color: rgb(3, 88, 21);
    color: white;

}

.join p {
    margin-top: 10px;
    font-size: large;
    color: rgb(48, 45, 45);
}

.meeting span .icon-4{
    width: 30px;
    height: 30px;
    margin-top:20px ;
}

.meeting span {
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 1px solid grey;
    color: white;
    background-color: rgb(19, 19, 247);
    text-align: center;
    margin-left: 10px;
}

.meeting p{
    color: rgb(58, 54, 54);
    margin-top: 15px;
}

.schedule span{
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 1px solid rgb(206, 203, 203);
   text-align: center;
   margin-left: -8px;
}

.schedule span:hover{
    background-color: green;
    color: white;
}

.schedule P{
    margin-top: 13px;
}

.screen-share{
    display: flex;
    justify-content: center;
    margin-top: 50px;  
}

.screen-share button{
    display: flex;
    justify-content: center;
    padding: 6px;
    width: 150px;
    gap: 7px;
    border-radius: 20px;
    border: 1px solid rgb(156, 154, 154);
    background-color: white;
}

.screen{
    width: 20px;
}

button span{
    margin-top: 4px;
    font-size: 14px;
    
}

.screen-share button:hover{
    background-color: rgb(58, 58, 247);
    color: white;
    font-size: medium;
}


.section-5{
    display: flex;
    justify-content: center;
}
.some-content{
    display: flex;
    margin-top: 100px;
    gap: 150px;  
    padding: 10px;
    border: 1px solid rgb(196, 190, 190);
    border-radius: 15px;

}

.some-icons {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.content-1 span{
    font-size:15px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: bold;
    display: block;
    margin-top: 2px;
    padding: 7px;
  
}

.content-1:hover{
    background-color: rgb(218, 210, 210);
    border-radius: 8px;
}

.content-2{
    margin-top: 7px;
}

.icon-list{
    width: 50px;
    height:32px;
    text-align: center;
}

.icon-list span{
    margin-top:4px ;
    display: block;
    letter-spacing: 1px;
    font-family: monospace;
}
.icon-5{
    width: 20px;
    margin-top: 2px;

    }
 
.icon-list:hover{
    background-color: rgb(192, 190, 190);
    border-radius: 10px;
}

.section-6{
 margin-top: 50px;
 display: flex;
 justify-content: center;
 gap: 15px;
}
.section-6 .content{
    
   width: 380px;
   
    gap: 10px;
}

.content .st-content{
    border: 1px solid rgb(196, 198, 233);
    padding: 5px 70px 5px 5px;
    line-height: 30px;
    border-radius: 10px;
    background-color: rgb(217, 219, 241);
    color: rgb(31, 28, 28);
    font-family: monospace;
}


.content p mark{
    background-color:rgb(233, 224, 224);
    color: red;
}
.some-details{
    display:flex;
    gap: 7px;
   
  
}
.st-content img{
  border-radius: 100%;
  margin: -8px;
  border: 4px solid rgb(207, 210, 250);
  object-fit: cover;
  margin-top: 2px;
  width: 30px;
  height: 30px;
}

.icon-6{
    width: 16px;
    margin-top: 7px;
    color: red;
    outline-width:2px ;

}

.span-6{
    color: rgb(221, 10, 10);
}
.div-6{
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid rgb(215, 211, 236);
    margin-top: 4px;
    margin-left: -6px;
    background-color: rgb(172, 174, 197);
}

.div-6 span{
    display: block;
    margin-top: -4px;
    font-size: 13px;
}

.some-details p{
    font-size: small;
}
.nd-details{
    display: flex;
    justify-content: space-between;
}

.nd-details button{
    border: none;
    width: 65px;
    height: 34px;
    border-radius: 10px;
    display: flex; 
    gap: 6px;
    text-align: center;
    background-color: rgb(5, 5, 235);
    color: white;
}

.icon-7{
    margin-top: 6px;
    width: 18px;
    padding-left: 3px;
}

.icon-7:hover{
    width: 20px;
}

button span{
    margin-top: 9px;
    font-family: monospace;
}

.icon-8{
    width:18px ;
  
}
.P-8{
   
   width: 30PX;
   height: 30px;
   text-align: center;
   margin-right: -50px;
}

.P-8:hover{
 background-color: rgb(163, 163, 189);
 border-radius: 6px;
}

.last-content{
    line-height: 30px;
    padding: auto;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 10px;
    width: 300px;
    height: 190px;
    color: rgb(44, 41, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.st-details{
    padding: 10px;
}

.st-details mark{
 color: red;
 background-color: white;
}


.nd-details{
    margin-top: 20px;
    padding: 8px;
}

.video-icon{
    width: 60px;
    height: 25px;
    text-align: center;
    background-color: rgb(139, 150, 197);
    border-radius: 4px;
    color: blue;
}

.icon-9{
    width: 20px;
}

.video-icon:hover{
    background-color: grey;
}

.ellipsis-icon{
    width: 35px;
    height: 30px;
    text-align: center;
}

.icon-10{
    width: 15px;
}

.ellipsis-icon:hover{
    background-color:rgb(124, 124, 192);
    border-radius: 8px;
}



